/* Do tohoto souboru piš vlastní styly */

:root {
	--hlavni-barva: #dd614a;
    --doplnkova-barva: #73a580;
    --vnitrni-vypln-tlacitek: 0.5em;
}

h1 {
    color: var(--hlavni-barva);
}

a {
    color: var(--doplnkova-barva);
}

a:hover {
    color: var(--hlavni-barva);
}

.tlacitko {
    background-color: var(--hlavni-barva);
    padding: var(--vnitrni-vypln-tlacitek);
    border-radius: var(--vnitrni-vypln-tlacitek);
    -webkit-border-radius: var(--vnitrni-vypln-tlacitek);
    -moz-border-radius: var(--vnitrni-vypln-tlacitek);
    -ms-border-radius: var(--vnitrni-vypln-tlacitek);
    -o-border-radius: var(--vnitrni-vypln-tlacitek);
    border:none;
    color: white;
    text-decoration: none;
}

.tlacitko:hover {
    text-decoration: underline;
    color:white;
}

.tlacitko--doplnkove {
    background-color: var(--doplnkova-barva);
}

a, button {
    font-size: inherit;
}